---
import { getCollection, render } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import { formatDate } from "../../util/date.ts"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await render(post)
---

<Layout>
  <main>
    <div class="flex flex-col items-center">
      <h1 class="text-2xl font-black">
        {post.data.title}
      </h1>

      <span class="opacity-70">
        {formatDate(post.data.updatedDate || post.data.pubDate)}
      </span>
    </div>

    <article class="prose prose-sm max-w-full">
      <Content />
    </article>
  </main>
</Layout>
