---
import { Image } from "astro:assets"

import Layout from "../layouts/Layout.astro"

import me from "../assets/me.webp"
---

<Layout>
  <main class="prose">
    <div
      class="flex flex-col items-center md:flex-row-reverse md:gap-8 md:justify-around"
    >
      <div class="my-8 size-64 shrink-0 rounded-full mx-auto overflow-clip">
        <Image
          src={me}
          alt="Close up of John Prutton"
          format="webp"
          width={500}
          height={500}
          class="object-cover -translate-x-7 scale-125"
        />
      </div>

      <h1 class="w-fit text-center md:text-left relative">
        Terminal addict,<br /> beer snob,<br /> and bushwacker
        <br />
        <span
          class="text-2xl font-light absolute w-full max-md:-translate-x-1/2"
          >in no particular order</span
        >
      </h1>
    </div>
  </main>
</Layout>
