---
import LinkedInLink from "./linked-in-link.astro"
import GithubLink from "./github-link.astro"
---

<footer
  class="w-full flex flex-row gap-2 items-center justify-center py-4 mt-8 border-t border-slate-300"
>
  <span>2026</span>
  <span>|</span>
  <LinkedInLink />
  <GithubLink />
</footer>
